@import '../variables';

.c-Button {
	display: inline-block;
	padding: 0.53125rem 1.5rem;
	min-height: 2rem; // 32px
	font-family: $un-font-heading;
	font-size: 0.9375rem; // 15px
	line-height: 0.9375rem;
	text-align: center;
	font-weight: 600; // semi-bold
	box-shadow: inset 0px 0px 0px 1px $un-gray3-dark;
	background-color: transparent;
	border: none;
	border-radius: 3px;
	cursor: pointer;

	transition: all 0.1s ease-in-out, background-color 0.2s ease-in-out;

	// Default hover state
	&:not(.is-disabled):hover,
	&:not([disabled]):hover {
		background-color: #939BAB;
		box-shadow: inset 0px 0px 0px 1px #939BAB;
		color: white;
	}

	// Default active (pressed) state
	&:not(.is-disabled):active,
	&:not([disabled]):active {
		background-color: $un-gray2-dark;
		font-size: 0.875rem; // 14px
	}

	// Default disabled state
	&.is-disabled,
	&[disabled] {
		color: $un-gray1-dark;
		box-shadow: inset 0px 0px 0px 1px $un-gray1-dark;
		cursor: not-allowed;
	}

	// Primary button
	&--primary {
		box-shadow: none;
		background-color: $un-gray2;
		color: white;

		&:not(.is-disabled):hover,
		&:not([disabled]):hover {
			background-color: $un-gray3-light;
		}

		&:not(.is-disabled):active,
		&:not([disabled]):active {
			background-color: #788090;
			font-size: 0.875rem; // 14px
			box-shadow: none;
		}

		// Default disabled state
		&.is-disabled,
		&[disabled] {
			background-color: $un-gray1;
			color: white;
			cursor: not-allowed;
			box-shadow: none;
		}
	}

	// Secondary buttons
	&--secondary {
		background-color: transparent;
		border-color: $un-gray2-dark;
		color: $un-gray3-light;

		&:hover,
		&:active {
			background-color: transparent;
			color: $un-purple;
			border-color: $un-purple;
		}

		&.is-disabled,
		&[disabled] {
			background-color: transparent;
			color: $un-gray1-dark;
			border-color: $un-gray1-dark;
		}
	}

	// Call to Action buttons
	&--cta {
		background-color: $un-green-matte;
		color: white;
		border: 1px solid $un-green-matte;

		&:hover,
		&:active {
			background-color: darken($un-green-matte, 5%);
			border-color: darken($un-green-matte, 5%);
			color: white;
		}

		&.is-disabled,
		&[disabled] {
			background-color: $un-gray1;
			text-shadow: none;
			border-color: $un-gray1-dark;
			color: $un-gray1-dark;
		}
	}

	// Blue Call to Action buttons
	&--ctaAlt {
		background-color: $un-purple;
		border-color: transparent;

		&:hover,
		&:active {
			background-color: $un-purple-dark;
			border-color: transparent;
		}
	}
}