@import '../variables';

.c-Button {
	display: inline-block;
	padding: 0.53125rem 1.5rem;
	min-height: 2rem; // 32px
	font-family: $un-font-heading;
	font-size: 0.9375rem; // 15px
	line-height: 0.9375rem;
	text-align: center;
	font-weight: 600; // semi-bold
	border-radius: 3px;
	border: none;
	cursor: pointer;

	transition: all 0.1s ease-in-out, background-color 0.2s ease-in-out;

	// Default button (it's actually a Primary button)
	&,
	&--primary {
		background-color: $un-gray2;
		color: white;

		&:hover {
			background-color: $un-gray3-light;
		}

		&:not(.is-disabled):active,
		&:not([disabled]):active {
			background-color: #788090;
			font-size: 0.875rem; // 14px
			// extra left+right padding to compensate and make the width the same
			padding: 0.53125rem 1.64rem;
		}

		// Default disabled state
		&.is-disabled,
		&[disabled] {
			background-color: $un-gray1;
			cursor: not-allowed;
		}
	}

	// Secondary buttons
	&--secondary {
		background-color: transparent;
		border-color: $un-gray2-dark;
		color: $un-gray3-light;

		&:hover,
		&:active {
			background-color: transparent;
			color: $un-purple;
			border-color: $un-purple;
		}

		&.is-disabled,
		&[disabled] {
			background-color: transparent;
			color: $un-gray1-dark;
			border-color: $un-gray1-dark;
		}
	}

	// Call to Action buttons
	&--cta {
		background-color: $un-green-matte;
		color: white;
		border: 1px solid $un-green-matte;

		&:hover,
		&:active {
			background-color: darken($un-green-matte, 5%);
			border-color: darken($un-green-matte, 5%);
			color: white;
		}

		&.is-disabled,
		&[disabled] {
			background-color: $un-gray1;
			text-shadow: none;
			border-color: $un-gray1-dark;
			color: $un-gray1-dark;
		}
	}

	// Blue Call to Action buttons
	&--ctaAlt {
		background-color: $un-purple;
		border-color: transparent;

		&:hover,
		&:active {
			background-color: $un-purple-dark;
			border-color: transparent;
		}
	}
}