@import '../../variables';
@import '../../colors';

.c-FormInputText {
	display: inline-block;
	vertical-align: $un-form-vertical-align;
	font-size: 1rem;

  &__label {
    margin-bottom: $un-form-label-bottom-margin;
  }
  &__controlContainer {
    position: relative;
  }
  &__control {
		display: block;
		box-sizing: border-box;
		font-size: 0.875rem;
    width: 100%;
    color: $un-gray4-light;
    border-radius: $un-control-radius;
    border: $un-form-border-width solid $un-gray2-dark;
    padding: 0 1rem;
    background-color: #fff;
		-webkit-appearance: none;
		cursor: pointer;
  }

// TODO: Rewrite using custom properties
  &__control {
		height: 32px;
    line-height: 31px;
  }
  &--big &__control {
		font-size: 1rem;
		height: 40px;
    line-height: 40px;
  }
  &--bigger &__control {
		font-size: 1rem;
		height: 48px;
    line-height: 47px;
  }

  // Disabled state
  &[disabled] &__control {
    color: $un-gray1-dark;
    border-color: $un-gray1-dark;
	}
}