@import '../variables';

.c-Modal {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 10vh 4rem;
	font-family: $un-font-main;
	font-size: 16px;
	color: $un-gray3;

	&,
	&__overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
	}

	&__overlay {
		background: rgba(0, 0, 0, 0.5);
		z-index: 5;

		opacity: 0;
		transition: opacity 0.25s ease-out;

		&.is-transparent {
			background-color: transparent;
		}
	}

	&__main {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 400px;
		max-width: 520px;
		max-height: 80vh;
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.35);
		z-index: 6;

		opacity: 0;
		transform: translateY(2rem);

		transition: all 0.25s ease-out;
	}

	// Round the corners
	&__top {
		border-top-left-radius: $un-modal-radius;
		border-top-right-radius: $un-modal-radius;
	}
	&__bottom {
		border-bottom-left-radius: $un-modal-radius;
		border-bottom-right-radius: $un-modal-radius;
	}

	&__top,
	&__middle,
	&__bottom {
		background-color: white;
		padding: 1.4rem 2.5rem;
	}
	&__top {
		padding-top: 1.8rem;
		padding-bottom: 0.7rem;
	}

	&__closeIcon.c-Button {
		position: absolute;
		top: 0.4rem;
		right: 0.4rem;
		padding: 0.5rem;
		line-height: 14px;

		svg {
			width: 0.9rem;
			height: 0.9rem;

			g {
				fill: $un-gray2;
				transition: fill 0.25s ease-in-out;
			}
		}

		&:hover svg g {
			fill: $un-gray2-dark;
		}
	}

	&--include-default-style &__middle {
		line-height: 1.618em; // golden ratio

		> :first-child {
			margin-top: 0.7rem;
		}
		> :last-child {
			margin-bottom: 2.3rem;
		}
	}

	&__middle {
		padding-top: 0;
		padding-bottom: 0;
		overflow-y: auto;
	}

	// Align the buttons to the right
	&__bottom {
		background-color: $un-gray1-light;

		.c-CoolButton--secondary {
			background-color: white;
		}

		> div {
			display: flex;
			justify-content: flex-end;

			* {
				margin-left: 1rem;
			}
		}
	}

	// Title
	&__top {
		color: $un-purple;
		font-size: 1.5rem;
		font-family: $un-font-heading;
		text-align: center;
	}
	&__title {
		font-size: inherit;
		margin: 0;
	}

	&.is-active {
		&,
		.c-Modal__overlay,
		.c-Modal__main {
			pointer-events: all;
			opacity: 1;
			transform: none;
		}
	}

	&.is-footerless {
		.c-Modal__middle {
			border-bottom-left-radius: $un-modal-radius;
			border-bottom-right-radius: $un-modal-radius;
		}
	}
}
