@import '../../variables';

.c-OptionsListItem {
	display: block;
	box-sizing: border-box;
	padding: var(--optionsListSpacingY) var(--optionsListSpacingX);
	color: inherit;
	text-align: inherit;
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;

	&:hover,
	&:focus,
	&:active {
		background-color: $un-gray1;
	}

	@at-root a#{&} {
		text-decoration: none;
	}

	@at-root button#{&} {
		width: 100%;
		background-color: inherit;
		border: inherit;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
	}
}
