@import '../../variables';
@import '../../colors';

.c-FormSelect {
	display: inline-block;
	vertical-align: $un-form-vertical-align;
	font-size: 1rem;

  &__label {
    margin-bottom: $un-form-label-bottom-margin;
  }
  &__controlContainer {
    position: relative;
  }
  &__control {
		display: block;
		box-sizing: border-box;
		padding: 0 1rem;
		padding-right: (42px + 16px);
    width: 100%;
    color: $un-gray4-light;
    border-radius: $un-control-radius;
    border: $un-form-border-width solid $un-gray2-dark;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
		cursor: pointer;
  }

  &__decorator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
		display: block;
		width: 42px;
    border-left: $un-form-border-width solid $un-gray2-dark;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,%3Csvg width="11" height="7" viewBox="0 0 11 7" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.166 4.21L8.976.4a.795.795 0 0 1 1.125 1.125l-4.409 4.41a.795.795 0 0 1-1.288-.238L.233 1.527A.795.795 0 0 1 1.358.401L5.166 4.21z" fill="%23343F50" fill-rule="evenodd"/%3E%3C/svg%3E%0A');
  }

  // TODO: Rewrite using custom properties
  &__control {
    height: 32px;
		line-height: 30px;
		font-size: 0.875rem;
  }
  &--big &__control {
    height: 40px;
    line-height: 39px;
		font-size: 1rem;
  }
  &--bigger &__control {
    height: 48px;
    line-height: 47px;
		font-size: 1rem;
  }

  // Disabled state
  &[disabled] &__decorator,
  &[disabled] &__control {
    color: $un-gray1-dark;
    border-color: $un-gray1-dark;
  }
}