@import '../variables';

.c-Sidebar {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 256px;
	color: $un-gray4;
	background-color: #FAFAFA;
	border-right: 1px solid $un-gray1;

	&__tab {
		padding: 1rem;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		text-align: left;
		font-size: 0.93rem;
		color: $un-gray2;
		border-bottom: 1px solid $un-gray1;
		z-index: 1;
		cursor: pointer;

		transition: all 0.2s ease-in-out;

		&__icon {
			display: inline-block;
			width: 11px;
		}

		&:hover {
			color: $un-gray4;
		}
	}

	&__panel {
		display: inline-block;
		position: absolute;
		top: 51px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: scroll;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
		font-family: 'Open Sans', sans-serif;

		transition: 0.5s ease-in-out;

		&.is-active {
			flex-grow: 1;

			.c-Sidebar__tab {
				color: $un-gray4;
				background-color: $un-gray1-light;
			}

			& + .c-Sidebar__item .c-Sidebar__tab {
				border-top: 1px solid $un-gray1;
			}
		}
	}

	&:last-child {
		border-right: none;
		border-left: 1px solid $un-gray1;
	}

	// show borders on wide-screens
	@media screen and (min-width: 1280px) {
		border-left: 1px solid $un-gray1;

		&:last-child {
			border-right: 1px solid $un-gray1;
		}
	}
}