@import '../../variables';

.c-FormTextarea {
	display: inline-block;
	vertical-align: $un-form-vertical-align;
	font-size: 1rem;

	&__label {
		margin-bottom: $un-form-label-bottom-margin;
	}
	&__controlContainer {
		position: relative;
	}
	&__control {
		display: block;
		box-sizing: border-box;
		font-size: 0.875rem;
		width: 100%;
		color: $un-gray4-light;
		border-radius: $un-control-radius;
		border: $un-form-border-width solid $un-gray2-dark;
		padding: 0.3125rem 1rem;
		background-color: #fff;
		font-family: inherit;
		-webkit-appearance: none;
		cursor: pointer;
	}

	&__control {
		line-height: 1.45em;
	}
	&--big &__control {
		font-size: 1rem;
		padding: 0.46875rem 1rem;
	}
	&--bigger &__control {
		font-size: 1rem;
		padding: 0.71875rem 1rem;
	}

	// Disabled state
	&[disabled] &__control {
		color: $un-gray1-dark;
		border-color: $un-gray1-dark;
	}
}
