@import '../variables';

.c-ToggleGroup {
	display: flex;
	flex-direction: column;
	font-family: $un-font-main;

	&__item {
		position: relative;
		margin: 0.4rem;
		padding: 0.2rem;
		border-radius: 100px;
		text-align: center;
		font-size: 0.8rem;
		color: $un-gray2-dark;
		border: 1px solid $un-gray2-light;
		font-weight: normal;
		background-color: transparent;
		cursor: pointer;

		transition: all 0.25s ease-in-out;

		&:hover {
			background-color: $un-gray1;

			.c-ToggleGroup__tooltip {
				opacity: 1;
			}
		}

		&.is-active {
			border-color: $un-purple;
			background-color: $un-purple;
			color: white;
			font-weight: bold;
		}
	}

	&__tooltip {
		position: absolute;
		top: -1px;
		right: 2rem;
		padding: 0.25rem 0.45rem;
		background-color: $un-gray3-dark;
		border-radius: 3px;
		white-space: nowrap;
		font-weight: normal;
		color: $un-gray1-light;
		pointer-events: none;
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.10);
		opacity: 0;

		transition: 0.25s all ease-in-out;

		&.is-right-side {
			left: 2rem;
			right: auto;
		}
	}
}