// Annotations
$un-highlight-default: $un-gray1-dark;
$un-highlight-minor: $un-yellow;
$un-highlight-major: $un-orange;
$un-highlight-critical: $un-red;

// Glossaries
$un-highlight-glossary: #859EFF;

// Anonymisations
$un-highlight-anon: $un-gray1-dark;

// Errors
$un-highlight-error: $un-red;

// Edits done by Editor
$un-highlight-edit-add: $un-blue;
