// Typography
$ui_font_mont: 'Montserrat', sans-serif;
$ui_font_opensans: 'Open Sans', sans-serif;

// Colors
// Purples
$un-purple-most-lightest: #E6EBFF;
$un-purple-lightest: #C6D2FF;
$un-purple-lighter: #ACBDFF;
$un-purple-light: #859EFF;
$un-purple: #3953BF;
$un-purple-dark: #1C357B;

// Yellows
$un-yellow-light: #FFEF87;
$un-yellow: #FFE013;
$un-yellow-dark: #DABE00;

// Greens
$un-green-light: #30F381;
$un-green: #00D558;
$un-green-matte: #03B34C;
$un-green-dark: #069441;

// Blues
$un-blue-light: #A9D9FF;
$un-blue: #34A5FF;
$un-blue-dark: #036ABD;

// Reds
$un-red-light: #FFACA8;
$un-red: #EF5851;
$un-red-dark: #A32019;

// Oranges
$un-orange-light: #FFD196;
$un-orange: #FFAB3F;
$un-orange-dark: #BB741A;

// Grays
$un-gray1-light: #F6F7F8;
$un-gray1: #E7E9EC;
$un-gray1-dark: #D0D4DA;

$un-gray2-light: #ABB2BE;
$un-gray2: #8F97A8;
$un-gray2-dark: #778195;

$un-gray3-light: #566074;
$un-gray3: #414C5E;
$un-gray3-dark: #3A4557;

$un-gray4-light: #343F50;
$un-gray4: #1E242C;
